<md-toolbar class="md-warn" layout="row" layout-align="start center">

  <md-button class="md-icon-button" ng-click="mCtrl.openLN()">
    <md-icon>menu</md-icon>
  </md-button>

  <div class="md-toolbar-tools">
    <h2 class="md-flex">Google Maps API ng app</h2>
  </div>

</md-toolbar>

<md-content flex layout-padding layout-fill>
  <div layout="column" layout-align="start left">

    <!-- <div layout="row" layout-align="start left"> -->

      <md-input-container md-no-float class="md-block">

        <label>Location</label>

        <!--possible to autocomplete?-->
        <input ng-model="mCtrl.address" ng-model-options='{ debounce: 1000 }'>
        <md-icon class="material-icons" style="display:inline-block">place</md-icon>
      </md-input-container>

      <md-input-container>
        <md-button ng-click="mCtrl.getRandomLocation()" class="md-raised md-primary">Random location</md-button>
        <md-button ng-click="mCtrl.getRayonLocation()" class="md-raised md-primary">NA RAYON</md-button>
      </md-input-container>

   <!-- </div> -->

  </div>
  <!--<md-button ng-click="mCtrl.buttonClick()">Map</md-button>-->
  <div map-lazy-load="https://maps.google.com/maps/api/js">

    <ng-map center="{{mCtrl.address}}" zoom="13" style="width:800px; height:600px">

      <marker position="{{mCtrl.address}}" title="{{mCtrl.address}}"></marker>

    </ng-map>

  </div>

</md-content>
